@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo 2", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");
}

body {
  font-family: "Baloo 2", cursive;
  background-color: #f1f1f1;
}
